

.wrap {
    display: flex;
    /*min-height: 100%;*/
}

.left{
    background-color: yellow;
    height: 500px;
    flex: 0 0 300px;
}
.mid{
    background-color: lightpink;
    flex: 1 1;
}
.right{
    background-color: aqua;
    flex: 0 0 400px;
}
